h1 #{@guest.first_name + @guest.last_name} Would Like to Speak at a Meeting!
p Hello Mr. President, 
p #{@guest.first_name + @guest.last_name} is interested in speaking at a meeting for your chapter!
p Email: #{@guest.email}
p Preferred Date: #{@guest.date}
p Message: #{@guest.message}
