@import "../styles/variables";

.footer {
  clear: both;
  color: $dark-grey;
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: $grey-bg;

  .social-media__icon {
    color: $grey;
  }
  .social-media {
    margin-top: 20px;
    padding: 0;

    .social-media__item {
      display: inline;
      padding: 0 15px;
    }
  }
}
