@import "../styles/variables";
@import "../styles/mixins";

.main__wrapper {
  margin: $main-wrapper-margin;
  visibility: hidden;
  animation: fadeIn 1s ease-out forwards 0.75s;
  text-align: center;
}

.main__header {
  @include main-header;
}

button, .btn-submit, input[type="submit"] {
  border: none;
	width: auto;
  padding: 10px;
	margin-top: 12px 15px 0 0;
  border-radius: 5px;
  background-color: $green;
  color: $white;
	transition: background-color 0.5s;
}
button:hover, input[type="submit"]:hover {
	background-color: $green;
}
button:focus, input[type="submit"]:focus {
	background-color: $dark-green;
}
