@import "../styles/variables";
@import "../styles/mixins";

nav {
  height: 70px;
  background-color: $white;

  @media (max-width: 767px) {
    height: 58px;
  }
  .container {
    background-color: $white;
  }
  .navbar-header {
    margin-top: 0px;
    height: 70px;

    @media (max-width: 767px) {
      height: 58px;
    }
    .navbar-toggle {
      background-color: transparent;

      &:hover, &:focus {
        background-color: $light-grey;
      }
    }
    .icon-bar {
      background-color: $hamburger-grey;
    }
  }
  img {
    height: 48px;
  }
  .navbar-left {
    li {
      .aim-desktop-logo {
        height: 48px;
        padding: 0 7px;
      }
      a {
        color: $grey;
        font-size: 16px;
        margin-top: 10px;
        padding: 15px 7px;

        &:hover {
          text-decoration: none;
          color: $green;
          background-color: $white;
          cursor: pointer;
        }
        .school_logo {
          margin-left: 10px;
        }
        @media (max-width: 767px) {
          padding: 10px 7px;
        }
      }
    }
  }
  .dropdown-menu {
    font-size: 16px;

    li a {
      color: $grey;

      &:hover {
        color: $green;
      }
    }
  }
}

.navbar-right {
  li .dropdown .btn {
    background-color: $green;
    color: $white;
    margin-top: 18px;
    font-size: 16px;
    border: none;

    &:hover, &:focus {
      background-color: $dark-green;
      color: $white;
    }
  }
  .school-link {
    margin-top: 10px;
    padding: 0 7px;

    &:hover {
      background-color: $white;
    }
  }
}

.aim-mobile-logo {
  position: absolute;
  height: 48px;
  margin: 5px;
}

#notice {
  @include notices-and-alerts($green);
}
#alert {
  @include notices-and-alerts($red);
}
