// Colors
$green: #66AA33;
$dark-green: #58952D;
$light-grey: #DDDDDD;
$hamburger-grey: #888888;
$grey: #7F7F7F;
$dark-grey: #919191;
$white: #FFFFFF;
$white-smoke: #F5F5F5;
$light-black: #303030;
$black: #000000;
$red: #C52F24;

$black-bg: rgba($black, 0.5);
$grey-bg: #343434;

$main-wrapper-margin: 90px 0 50px;

//Fonts
$serif-font: Source Sans Pro;
$serif-font-weight: bold;
$serif-font-source: url(/fonts/SourceSansPro-Regular.ttf);

$light-serif-font: Source Sans Pro Light;
$light-serif-font-source: url(/fonts/SourceSansPro-Light.ttf);
