@import "mixins";

.news__wrapper {
  @include content-wrapper(2010px);
}

.news {
  @include exec-and-news-elements(300px, 650px, 375px, 300px, 250px, 300px);
  margin: 10px 10px;

  div {
    @media (max-width: 540px) {
      flex-direction: column;
      width: 300px;

      .news__pic, .news__info {
        width: 300px;
      }
      .news__pic {
        height: 300px;
        img, iframe {
          height: 300px;
          width: 300px;
        }
      }
    }
  }
}
