h1 Your Meeting is Being Scheduled
p Hello #{@appointment.first_name}, 
p We just wanted to let you know that we've got your message!
p You will hear from our executives shortly. In the mean time, please get your thoughts together about what you would like to discuss.
p Talk To You Soon
p AIM Team
