h1 #{@appointment.first_name} #{@appointment.last_name} Wants Company Advice
p Hello AIM President,
p #{@appointment.first_name} #{@appointment.last_name} would like some advice, please send a message to arrange a meeting.
p Email: #{@appointment.email}
p Phone Number: #{@appointment.phone_number}
p Message: #{@appointment.message}
p For your safety, we reccomend that you only meet with students on campus or in a location where you feel safe.
p AIM Team
