// Place all the styles related to the mail_blasters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  margin-left: auto;
  margin-right: auto;
}
th, td {
  border: solid 1px #7F7F7F;
  text-decoration: none;
  padding: 5px !important;
  color: #7F7F7F;
}
table a:link{
	color: #7F7F7F;
}
