// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section {
    width: 100%;
}
header
{
    margin-top: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #66AA33;
}
header {
  color: #7F7F7F;
}
main {
  padding: -5px;
  display: inline;
  text-align: center;
}
.members {
  margin: 0 auto 0 auto;
  max-width: 1200px;
}
.linkedin-name span {
  text-decoration: none;
  color: #FFFFFF;
}
.linkedin-name:hover span, .linkedin-name:visited span {
  color: #FFFFFF;
  text-decoration: none;
}
.board_member /*All Exec blocks*/
{
  display: inline-block;
  border-radius: 3px;
  margin: 1%;
  width: 500px;
  background-color: #66AA33;
}
.board_member figure img{
  float: left;
  width: 50%;
  height: 200px;
  width: 200px;
}
figcaption {
  float: right;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #FFFFFF;
  width: 300px;
  padding-top: 20px;
}
.after_signup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  div {
    width: 350px;
    padding: 0 10px 0 10px;

    h2 {
      color: #66AA33;
    }

    img {
      height: 200px;
    }

    a:hover {
      text-decoration: none;
    }
    p {
      font-size: 20px;
      color: #7F7F7F;
    }
  }
}
.member-index-pic {
  width: 150px;
}
